/* Not working. Paste this inside TST's extra CSS rules. */
@-moz-document regexp("moz-extension://.+/sidebar/sidebar.html.*") {
/* Apply system-wide theme */
:root {
    --tab-surface-active: rgb( {{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}, 50%);
    --tab-text-active: {{base05-hex}};
    --tab-surface-regular: {{base00-hex}};
    --tab-text-regular: {{base05-hex}};
    --tab-surface-hover: rgb( {{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}, 50%);
    --tab-surface-active-hover: rgb( {{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}, 50%);
    --tab-border: {{base05-hex}};
}
}
